body{
    text-align:center;
}
#section1{
background-color: aquamarine;
padding-top: 20px;
padding-bottom:30px;
font-family:'Courier New', Courier, monospace;
font-weight:300;
}
#section2{
    background-color:coral;
    padding-top: 20px;
    padding-bottom:30px;
    font-family:'Courier New', Courier, monospace;
    font-weight:300;
    margin-top:30px;
    
    }
 #section3{
        background-color:darkslategrey;
        padding-top: 20px;
        padding-bottom:30px;
        font-family:'Courier New', Courier, monospace;
        font-weight:300;
        margin-top:30px;
        }
        h1
        {
            font-size:30px;
            font-weight:300;
        }
        .line
        {
            height: 10px;
            width:200px;
            background-color:ghostwhite;
            margin:10px auto;
            border-radius: 10px;
        }